<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Blog Details | Triangle</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/lightbox.css" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link href="/css/blogdetails.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/images/ico/apple-touch-icon-57-precomposed.png">
    <script type="text/javascript">var switchTo5x = true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({
        publisher: "7e8eb33b-fbe0-4915-9b93-09490e3d10df",
        doNotHash: false,
        doNotCopy: false,
        hashAddressBar: false
    });</script>

</head><!--/head-->

<body>
<header id="header">
    <div class="container">
        <div class="main">
            <div class="mainbox">
                <div>
                    <div>
                        <span>Group Name:  </span>
                        <input type="text" class="search-form" autocomplete="off" placeholder="Your Group Name" id="create_group_name">
                    </div>
                    <div>
                        <span>Group Notice: </span>
                        <input type="text" class="search-form" autocomplete="off" placeholder="Your Group Notice" id="create_group_notice">
                    </div>
                </div>
                <div class="button_create">
                    <input type="submit" name="submit" value="Submit" id="submit_create">
                    <input type="submit" name="submit" value="Cancel" class="close_create">
                </div>
            </div>
        </div>
        <div class="main_2">
            <div class="mainbox_2">
                <div>
                    <div>
                        <span>Search By Group ID:  </span>
                        <input type="text" class="search-form" autocomplete="off" placeholder="Group ID" id="search_group_id">
                        <input type="submit" name="submit" value="Search By ID" id="searchByID">
                    </div>
                    <div>
                        <span>Search By Group Name:  </span>
                        <input type="text" class="search-form" autocomplete="off" placeholder="Group Name" id="search_group_name">
                        <input type="submit" name="submit" value="Search By Name" id="searchByName">
                    </div>
                </div>
                <div class="button_search">
                    <input type="submit" name="submit" value="Cancel" class="close_create_2">
                </div>

                <div class="group_info">
                    <div>Group List:</div>
                    <div class="group_list">
                        <div class="g_list_member">
<!--                            <span>Group Name:</span> <span class="group_fix" id="g_info_name">Name</span>-->
<!--                            <span>Group Admin:</span> <span class="group_fix" id="g_info_admin">Admin</span>-->
<!--                            <span>Group ID:</span> <span class="group_fix" id="g_info_id">ID</span>-->
<!--                            <input type="submit" name="submit" value="Join" id="join_group">-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 overflow">
                <div class="social-icons pull-right">
                    <ul class="nav nav-pills">
                        <li><a href=""><i class="fa fa-facebook-official"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                        <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-inverse" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="index.html">
                    <h1><img src="/images/logo.png" alt="logo"></h1>
                </a>

            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
<!--                    <li><a href="index.html">Home</a></li>-->
                    <li class="dropdown active"><a href="#">Chats <i class="fa fa-angle-down"></i></a>
                        <ul role="menu" class="sub-menu">
                            <li><a href="aboutus.html">Single Chat</a></li>
                            <li><a href="/blogdetails">Group Chat</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#">Manage <i class="fa fa-angle-down"></i></a>
                        <ul role="menu" class="sub-menu">
                            <li id="create"><a href="#">Create a group</a></li>
                            <li id="join"><a href="#">Join a group</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="blog.html">Personal <i class="fa fa-angle-down"></i></a>
                        <ul role="menu" class="sub-menu">
                            <li><a href="blog.html">Information</a></li>
                            <li><a href="blogtwo.html">Log out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="search">
                <form role="form">
                    <i class="fa fa-search"></i>
                    <div class="field-toggle">
                        <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>
<!--/#header-->


<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">Our Chat</h1>
                        <p>Chat with African Bro</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#page-breadcrumb-->

<section id="blog-details" class="padding-top">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-7">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="single-blog blog-details two-column">
                            <div class="post-thumb">
                                <a href="#"><img src="/images/blog/7.jpg" class="img-responsive" alt=""></a>
                                <div class="post-overlay">
                                    <span class="uppercase"><a href="#">14 <br><small>Feb</small></a></span>
                                </div>
                            </div>
                            <div class="post-content overflow">
                                <h2 class="post-title bold"><a href="#" id="group_Name">GroupChat Name</a></h2>
                                <h3 class="post-author"><a href="#" id="Notice">Posted by micron News</a></h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    It has survived not only five centuries, but also the leap into electronic
                                    typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                                    the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                                    with desktop publishing software like Aldus PageMaker including versions of Lorem
                                    Ipsum. <br> <br>

                                    There are many variations of passages of Lorem Ipsum available, but the majority
                                    have suffered alteration in some form, by injected humour, or randomised words which
                                    don't look even slightly believable. If you are going to use a passage of Lorem
                                    Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of
                                    text. All the Lorem Ipsum generators on the Internet tend to repeat predefined
                                    chunks as necessary, making this the first true generator on the Internet. It uses a
                                    dictionary of over 200 Latin words, combined with a handful of model sentence
                                    structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem
                                    Ipsum is therefore always free from repetition, injected humour, or
                                    non-characteristic words etc It is a long established fact that a reader will be
                                    distracted by the readable content of a page when looking at its layout. The point
                                    of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                                    as opposed to using 'Content here, content here', making it look like readable
                                    English. </p>
                                <div class="post-bottom overflow">
                                    <ul class="nav navbar-nav post-nav">
                                        <li><a href="#"><i class="fa fa-tag"></i>Creative</a></li>
                                        <li><a href="#"><i class="fa fa-heart"></i>32 Love</a></li>
                                        <li><a href="#"><i class="fa fa-comments"></i>3 Comments</a></li>
                                    </ul>
                                </div>
                                <div class="blog-share">
                                    <span class='st_facebook_hcount'></span>
                                    <span class='st_twitter_hcount'></span>
                                    <span class='st_linkedin_hcount'></span>
                                    <span class='st_pinterest_hcount'></span>
                                    <span class='st_email_hcount'></span>
                                </div>
                                <div class="author-profile padding" id="ChatRecord">
<!--                                    <div class="post-comment">-->
<!--                                        <a class="pull-left" href="#">-->
<!--                                            <img class="media-object" src="/images/blogdetails/1.png" alt="">-->
<!--                                        </a>-->
<!--                                        <div class="media-body">-->
<!--                                                    <span><i class="fa fa-user"></i>Posted by <a-->
<!--                                                            href="#">AuthorName</a></span>-->
<!--                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do-->
<!--                                                eiusmod tempor incididunt ut labore et dolore magna aliq Ut enim-->
<!--                                                ad minim veniam, quis nostrud exercitation ullamco laboris-->
<!--                                                nisi.</p>-->
<!--                                            <ul class="nav navbar-nav post-nav">-->
<!--                                                <li><a href="#"><i class="fa fa-clock-o"></i>February-->
<!--                                                    11,2014</a></li>-->
<!--                                                <li><a href="#"><i class="fa fa-reply"></i>Reply</a></li>-->
<!--                                            </ul>-->
<!--                                        </div>-->
<!--                                    </div>-->

<!--                                    <div class="post-comment">-->
<!--                                        <a class="pull-left" href="#">-->
<!--                                            <img class="media-object" src="/images/blogdetails/2.png" alt="">-->
<!--                                        </a>-->
<!--                                        <div class="media-body">-->
<!--                                                    <span><i class="fa fa-user"></i>Posted by <a-->
<!--                                                            href="#">AuthorName</a></span>-->
<!--                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do-->
<!--                                                eiusmod tempor incididunt ut labore et dolore magna aliq Ut enim-->
<!--                                                ad minim veniam, quis nostrud exercitation ullamco laboris-->
<!--                                                nisi.</p>-->
<!--                                            <ul class="nav navbar-nav post-nav">-->
<!--                                                <li><a href="#"><i class="fa fa-clock-o"></i>February-->
<!--                                                    11,2014</a></li>-->
<!--                                                <li><a href="#"><i class="fa fa-reply"></i>Reply</a></li>-->
<!--                                            </ul>-->
<!--                                        </div>-->
<!--                                    </div>-->

<!--                                    <div class="post-comment">-->
<!--                                        <a class="pull-left" href="#">-->
<!--                                            <img class="media-object" src="/images/blogdetails/3.png" alt="">-->
<!--                                        </a>-->
<!--                                        <div class="media-body">-->
<!--                                                    <span><i class="fa fa-user"></i>Posted by <a-->
<!--                                                            href="#">AuthorName</a></span>-->
<!--                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do-->
<!--                                                eiusmod tempor incididunt ut labore et dolore magna aliq Ut enim-->
<!--                                                ad minim veniam, quis nostrud exercitation ullamco laboris-->
<!--                                                nisi.</p>-->
<!--                                            <ul class="nav navbar-nav post-nav">-->
<!--                                                <li><a href="#"><i class="fa fa-clock-o"></i>February-->
<!--                                                    11,2014</a></li>-->
<!--                                                <li><a href="#"><i class="fa fa-reply"></i>Reply</a></li>-->
<!--                                            </ul>-->
<!--                                        </div>-->
<!--                                    </div>-->

<!--                                    <div class="post-comment">-->
<!--                                        <a class="pull-left" href="#">-->
<!--                                            <img class="media-object" src="/images/blogdetails/4.png" alt="">-->
<!--                                        </a>-->
<!--                                        <div class="media-body">-->
<!--                                                    <span><i class="fa fa-user"></i>Posted by <a-->
<!--                                                            href="#">AuthorName</a></span>-->
<!--                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do-->
<!--                                                eiusmod tempor incididunt ut labore et dolore magna aliq Ut enim-->
<!--                                                ad minim veniam, quis nostrud exercitation ullamco laboris-->
<!--                                                nisi.</p>-->
<!--                                            <ul class="nav navbar-nav post-nav">-->
<!--                                                <li><a href="#"><i class="fa fa-clock-o"></i>February-->
<!--                                                    11,2014</a></li>-->
<!--                                                <li><a href="#"><i class="fa fa-reply"></i>Reply</a></li>-->
<!--                                            </ul>-->
<!--                                        </div>-->
<!--                                    </div>-->
                                </div>
                                <h2>Send a message</h2>
                                <div class="form-group">
                                    <textarea name="message" id="message_sent" required="required" class="form-control" rows="8"
                                      placeholder="Your text here"></textarea>
                                </div>
                                <div class="form-group">
                                    <input type="submit" name="submit" class="btn btn-submit" value="Submit" id="sendMessage">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-5">
                <div class="sidebar blog-sidebar">
                    <div class="sidebar-item categories">
                        <h3>Groups you have joined</h3>
                        <ul class="nav navbar-stacked" id="groupName">
                            <!--  <li class="active"><a href="#">GroupName1<span class="pull-right">(1)</span></a></li>-->
                            <!--  <li><a href="#">GroupName2<span class="pull-right">(8)</span></a></li>-->
                            <!--  <li><a href="#">GroupName3<span class="pull-right">(4)</span></a></li>-->
                            <!--  <li><a href="#">GroupName4<span class="pull-right">(9)</span></a></li>-->
                            <!--  <li><a href="#">GroupName5<span class="pull-right">(3)</span></a></li>-->
                            <!--  <li><a href="#">GroupName6<span class="pull-right">(4)</span></a></li>-->
                            <!--  <li><a href="#">GroupName7<span class="pull-right">(2)</span></a></li>-->
                            <!--  <li><a href="#">GroupName8<span class="pull-right">(8)</span></a></li>-->
                        </ul>
                    </div>
                    <div class="sidebar-item  recent">
                        <h3>Admins in the group</h3>
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img src="/images/portfolio/project1.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <h4><a href="#" id="admin_name">Admin_Name</a></h4>
                                <p id="join_time">Joined on 07 March 2014</p>
                            </div>
                        </div>
<!--                        <div class="media">-->
<!--                            <div class="pull-left">-->
<!--                                <a href="#"><img src="/images/portfolio/project2.jpg" alt=""></a>-->
<!--                            </div>-->
<!--                            <div class="media-body">-->
<!--                                <h4><a href="#">Admin_Name</a></h4>-->
<!--                                <p>Joined on 07 March 2014</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="media">-->
<!--                            <div class="pull-left">-->
<!--                                <a href="#"><img src="/images/portfolio/project3.jpg" alt=""></a>-->
<!--                            </div>-->
<!--                            <div class="media-body">-->
<!--                                <h4><a href="#">Admin_Name</a></h4>-->
<!--                                <p>Joined on 07 March 2014</p>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>

<!--                    <div class="sidebar-item tag-cloud">-->
<!--                        <h3>Tag Cloud</h3>-->
<!--                        <ul class="nav nav-pills">-->
<!--                            <li><a href="#">Corporate</a></li>-->
<!--                            <li><a href="#">Joomla</a></li>-->
<!--                            <li><a href="#">Abstract</a></li>-->
<!--                            <li><a href="#">Creative</a></li>-->
<!--                            <li><a href="#">Business</a></li>-->
<!--                            <li><a href="#">Product</a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
                    <div class="sidebar-item popular">
                        <h3>Group Members</h3>
                        <ul class="gallery">
                            <li><a href="#"><img src="/images/portfolio/popular1.jpg" alt=""></a></li>
                            <li><a href="#"><img src="/images/portfolio/popular2.jpg" alt=""></a></li>
                            <li><a href="#"><img src="/images/portfolio/popular3.jpg" alt=""></a></li>
                            <li><a href="#"><img src="/images/portfolio/popular4.jpg" alt=""></a></li>
                            <li><a href="#"><img src="/images/portfolio/popular5.jpg" alt=""></a></li>
                            <li><a href="#"><img src="/images/portfolio/popular1.jpg" alt=""></a></li>
                            <li><a href="#"><img src="/images/portfolio/popular1.jpg" alt=""></a></li>
                            <li><a href="#"><img src="/images/portfolio/popular2.jpg" alt=""></a></li>
                            <li><a href="#"><img src="/images/portfolio/popular3.jpg" alt=""></a></li>
                            <li><a href="#"><img src="/images/portfolio/popular4.jpg" alt=""></a></li>
                            <li><a href="#"><img src="/images/portfolio/popular5.jpg" alt=""></a></li>
                            <li><a href="#"><img src="/images/portfolio/popular1.jpg" alt=""></a></li>
                            <li><a href="#"><img src="/images/portfolio/popular1.jpg" alt=""></a></li>
                            <li><a href="#"><img src="/images/portfolio/popular2.jpg" alt=""></a></li>
                            <li><a href="#"><img src="/images/portfolio/popular3.jpg" alt=""></a></li>
                            <li><a href="#"><img src="/images/portfolio/popular4.jpg" alt=""></a></li>
                            <li><a href="#"><img src="/images/portfolio/popular5.jpg" alt=""></a></li>
                            <li><a href="#"><img src="/images/portfolio/popular1.jpg" alt=""></a></li>
                            <li><a href="#"><img src="/images/portfolio/popular1.jpg" alt=""></a></li>
                            <li><a href="#"><img src="/images/portfolio/popular2.jpg" alt=""></a></li>
                            <li><a href="#"><img src="/images/portfolio/popular3.jpg" alt=""></a></li>
                            <li><a href="#"><img src="/images/portfolio/popular4.jpg" alt=""></a></li>
                            <li><a href="#"><img src="/images/portfolio/popular5.jpg" alt=""></a></li>
                            <li><a href="#"><img src="/images/portfolio/popular1.jpg" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#blog-->

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center bottom-separator">
                <img src="/images/home/under.png" class="img-responsive inline" alt="">
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="testimonial bottom">
                    <h2>Testimonial</h2>
                    <div class="media">
                        <div class="pull-left">
                            <a href="#"><img src="/images/home/profile1.png" alt=""></a>
                        </div>
                        <div class="media-body">
                            <blockquote>Nisi commodo bresaola, leberkas venison eiusmod bacon occaecat labore tail.
                            </blockquote>
                            <h3><a href="#">- Jhon Kalis</a></h3>
                        </div>
                    </div>
                    <div class="media">
                        <div class="pull-left">
                            <a href="#"><img src="/images/home/profile2.png" alt=""></a>
                        </div>
                        <div class="media-body">
                            <blockquote>Capicola nisi flank sed minim sunt aliqua rump pancetta leberkas venison
                                eiusmod.
                            </blockquote>
                            <h3><a href="">- Abraham Josef</a></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="contact-info bottom">
                    <h2>Contacts</h2>
                    <address>
                        E-mail: <a href="mailto:someone@example.com">email@email.com</a> <br>
                        Phone: +1 (123) 456 7890 <br>
                        Fax: +1 (123) 456 7891 <br>
                    </address>

                    <h2>Address</h2>
                    <address>
                        Unit C2, St.Vincent's Trading Est., <br>
                        Feeder Road, <br>
                        Bristol, BS2 0UY <br>
                        United Kingdom <br>
                    </address>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="contact-form bottom">
                    <h2>Send a message to us</h2>
                    <form id="main-contact-form" name="contact-form" method="post" action="sendemail.php">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" required="required" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" required="required"
                                   placeholder="Email Id">
                        </div>
                        <div class="form-group">
                            <textarea name="message" id="message" required="required" class="form-control" rows="8"
                                      placeholder="Your text here"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-submit" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="copyright-text text-center">
                    <p>&copy; Your Company 2014. All Rights Reserved.</p>
                    <p>Designed by <a target="_blank" href="http://www.themeum.com">Themeum</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--/#footer-->


<script type="text/javascript" src="/js/JQuery.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/lightbox.min.js"></script>
<script type="text/javascript" src="/js/wow.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/blogdetails.js"></script>
</body>
</html>
