<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OURCHAT|好友列表</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/public.css">
<!--    <link href="../static/css/font-awesome.min.css" rel="stylesheet">-->
<!--    <link href="../static/css/lightbox.css" rel="stylesheet">-->
<!--    <link href="../static/css/animate.min.css" rel="stylesheet">-->
    <link href="../static/css/main.css" rel="stylesheet">
<!--    <link href="../static/css/responsive.css" rel="stylesheet">-->

    <!--[if lt IE 9]>
    <script src="../static/js/html5shiv.js"></script>
    <script src="../static/js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="../static/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../static/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../static/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../static/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../static/images/ico/apple-touch-icon-57-precomposed.png">
    <script type="text/javascript" src="../static/js/jquery.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script th:inline="javascript">
        function search_user(){
            var search_name = $('#search_name').val();
            var current_name =$('#current_name').text();
            $.ajax({
                async:false,
                url: "/homepage_search",
                type: "post",
                //获取某个文本框的值
                //data: "id=" + id + "&name=" + $("#name").val(),
                dataType:"json",
                data: {
                    "search_name":search_name,
                    "current_name":current_name
                },
                // 或者(注意：若参数为中文时，以下这种传参不会造成后台接收到的是乱码)
                success: function (returnValue) {
                    var div;
                    var nickname,sign;
                    var isFriend="添加好友";
                    if(returnValue.user.nickname == null)
                        nickname="——";
                    if(returnValue.user.sign==null)
                        sign="——";
                    div ='<div class="col-md-2 column">'
                            +'<ul class="list-unstyled w-flex">'
                            +'<strong>用户名：</strong><span th:text="${lookup_name}" id="friend_name">'+returnValue.user.name+'</span>'
                            +'<li><br></li>'
                            +'<strong>昵称：</strong><span th:text="${lookup_nickname}">'+nickname+'</span>'
                            +'<li><br></li>'
                            +'<strong>个性签名：</strong><span th:text="${lookup_sign}">'+sign+'</span>'
                            +'<li><br></li>'
                            +'<strong>地区：</strong><span th:text="${lookup_address}">'+returnValue.user.address+'</span>'
                            +'<li><br></li>'
                            +'</ul>'
                            +'<div class="modal-footer">'
                    if(returnValue.isFriend)
                        div = div + '</div></div>'
                    else
                        div = div +'<button type="button" class="btn btn-default" data-dismiss="modal" onclick="send_FriendReq()">'+isFriend+'</button>'
                            +'</div></div>'
                    $('#user_info').html(div)
                },
                error: function (returnValue) {
                    $('#user_info').html(div = '<div></div>')
                    alert("对不起！该用户不存在！");
                }
            })
        }
        function send_FriendReq() {
            var current_name = $('#current_name').text();
            var friend_name = $('#friend_name').text();
            $.ajax({
                async:false,
                url: "/homepage_sendReq",
                type: "post",
                //获取某个文本框的值
                //data: "id=" + id + "&name=" + $("#name").val(),
                dataType:"text",
                data: {
                    "current_name":current_name,
                    "friend_name":friend_name
                },
                // 或者(注意：若参数为中文时，以下这种传参不会造成后台接收到的是乱码)
                success: function (returnValue) {
                    $('#user_info').html(div = '<div></div>')
                    alert(returnValue)
                },
                error: function (returnValue) {
                    $('#user_info').html(div = '<div></div>')
                    alert("发送好友申请失败！");
                }
            })

        }
        function request_msg(){
            console.log("show function run")
            var current_name = $('#current_name').text();
            $.ajax({
                async:false,
                url: "/homepage_requestMsg",
                type: "post",
                //获取某个文本框的值
                //data: "id=" + id + "&name=" + $("#name").val(),
                dataType:"json",
                data: {
                    "current_name":current_name,
                },
                // 或者(注意：若参数为中文时，以下这种传参不会造成后台接收到的是乱码)
                success: function (returnValue) {
                    console.log(returnValue)
                    showReqMsg(returnValue)
                },
                error: function (returnValue) {
                    alert("无消息");
                }
            })
        }
        function showReqMsg(data) {
            var total_div=''
            if(data.length==0){
                var div = '<div>无</div>'
                total_div = div
            }
            for(var i=0;i<data.length;i++){
                if(data[i].request=="request"){
                    var div ='<div>'
                        +'<ul>'
                        +'<span>用户-</span><strong id="requstName"+i>'+data[i].Name+'</strong>'
                        +'<span>（昵称-'+data[i].Nickname+'），请求添加您为好友</span>'
                        +'<li><br></li>'
                        +'</ul>'
                        +'<div class="modal-footer">'
                        +'<button type="button" class="btn btn-default" onclick="RequestAgree(this)" >同意</button>'
                        +'<button type="button" class="btn btn-default" onclick="RequestReject(this)" >拒绝</button>'
                        +'<button type="button" class="btn btn-default" onclick="RequestIgnore(this)" >忽略</button>'
                        +'</div></div>'
                    total_div +=div
                }
                if(data[i].request=="reject"){
                    var div ='<div>'
                        +'<ul>'
                        +'<span>用户-</span><strong id="requstName"+i>'+data[i].Name+'</strong>'
                        +'<span>（昵称-'+data[i].Nickname+'），已拒绝您的好友请求</span>'
                        +'<li><br></li>'
                        +'</ul>'
                        +'<div class="modal-footer">'
                        +'<button type="button" class="btn btn-default">确定</button>'
                        +'</div></div>'
                    total_div +=div
                }

            }
            $('#request_info').html(total_div)
           // $('Model_request_info').model('show')
        }
        function RequestAgree(obj){
            var Name = $(obj).parent().parent().find('strong').text()
            var current_name = $('#current_name').text()
            console.log(Name)
            $.ajax({
                async:false,
                url: "/Request_Agree",
                type: "post",
                //获取某个文本框的值
                //data: "id=" + id + "&name=" + $("#name").val(),
                dataType:"json",
                data: {
                    "request_name":Name,
                    "current_name":current_name,
                },
                // 或者(注意：若参数为中文时，以下这种传参不会造成后台接收到的是乱码)
                success: function (returnValue) {
                    console.log(returnValue)
                    send_FriendReq()
                    alert("已经成功添加好友")
                },
                error: function (returnValue) {
                    alert("好友添加失败");
                }
            })
        }
        function RequestReject() {
            var butId = $(this).attr("id");
            console.log(butId)
            alert(butId)
        }
        function RequestIgnore(){
            var butId = $(this).attr("id");
            console.log(butId)
            alert(butId)
        }
        $().ready(function(){
            var current_name = $('#current_name').text();
            $.ajax({
                async:false,
                url: "/Allfriends",
                type: "post",
                //获取某个文本框的值
                //data: "id=" + id + "&name=" + $("#name").val(),
                dataType:"json",
                data: {
                    "current_name":current_name,
                },
                // 或者(注意：若参数为中文时，以下这种传参不会造成后台接收到的是乱码)
                success: function (returnValue) {
                    var total_div=''
                    if(returnValue.length==0){
                        var div = '<div></div>'
                        total_div = div
                    }
                    console.log(returnValue.length)
                    for(var i=0;i<returnValue.length;i++){
                        var div ='<div><ul>'
                        console.log(returnValue[i])
                        console.log(returnValue[i].remark)
                        console.log(returnValue[i].name)
                        if(returnValue[i].remark==null){
                            div += '<span >'+returnValue[i].name+'</span>'
                            console.log("into if")
                        }
                        else{
                            div += '<span >'+returnValue[i].remark+'</span>'
                        }
                        div += '<li><br></li>'
                        +'</ul>'
                        +'</div>'
                        total_div +=div
                    }
                    $('#friend_info').html(total_div)
                    alert(returnValue)

                },
                error: function (returnValue) {
                    $('#friend_info').html(div = '<div></div>')
                    alert("好友信息加载失败")
                }
            })
        })
    </script>
    <style>
        .top5 { margin-top:5px; }

        .top7 { margin-top:7px; }

        .top10 { margin-top:10px; }

        .top15 { margin-top:15px; }

        .top17 { margin-top:17px; }

        .top30 { margin-top:30px; }
    </style>
</head>
<body>
<div id="bg"></div>
<div class="show">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="row clearfix">
                    <div class="col-md-2 column">
                        <img alt="140x140" src="../static/images/logo.png" class="img-circle" />
                    </div>
                    <div class="col-md-10 column" >
                        <h2  th:text="${nickname}">用户昵称</h2>
                        <h3 id="current_name" th:text="${'('+name+')'}">用户名</h3>
                        <p th:text="${sign}">个性签名</p>
                        <!-- 按钮触发模态框 -->
                        <button class="btn btn-default btn-xs" data-toggle="modal" data-target="#Model_request_info" type="button" id="requestMsg" onclick="request_msg()">
                            消息
                        </button>
                        <!--  好友请求消息 模态框（Modal） -->
                        <div class="modal fade" id="Model_request_info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
                            <div class="modal-dialog">
                                <div class="modal-content" >
                                    <div class="modal-header">
                                        <button type="button" class="close"
                                                data-dismiss="modal" aria-hidden="true">
                                            &times;
                                        </button>
                                        <h4 class="modal-title" id = "myModalLabel">
                                            好友通知
                                        </h4>
                                    </div>
                                    <div class="modal-body" id = "request_info">
                                        暂无好友申请
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                </div>
                <div class="row clearfix top30" >
                    <form role="form" class="form-inline d-flex justify-content-center" method="post">
                        <input class="form-control"  type="name" name="getName" id="search_name" placeholder=" 输入用户名" />
                        <button class="btn btn-default" type="button" id="search" onclick="search_user()">添加好友</button>
                    </form>
                </div>
                    <div id="user_info" class="row clearfix">
                    </div>
                    <div id="friend_info" class="row clearfix">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>