
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>OurChat | User-Info</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/lightbox.css" rel="stylesheet"> 
    <link href="css/animate.min.css" rel="stylesheet"> 
	<link href="css/main.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
	    <script src="js/html5shiv.js"></script>
	    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
    <script th:inline="javascript">
        function readPhotoFromURL(){
            var result=document.getElementById("result");
            console.log("read photo from url")
            console.log(result)
            var img = $("#new_profile_photo").val();
            console.log(img)
            result.innerHTML = '<img  id="user_profile_photo"  src="' + img
                +'" alt="can not read the photo"  height="500" width="500" class="img-responsive"/>';
        }
        function update_div(obj){
            console.log("update_div")
            var current_name = $('#user_name').text()
            var nickname = $('#user_nickname').text()
            var sign = $('#user_sign').text()
            var email = $('#user_email').text()
            var addres = $('#user_address').text()
            var photo = $('#user_profile_photo').attr('src')
            var newdiv = '<h2><p class="config"style="margin-bottom: 40px">    用户名：<span id="user_name" th:text="${user_name}">'+current_name+'</span></p></h2>' +
                '         <h4>    昵称：<input class="form-control" style="margin-top: 10px"  id="new_nickname" value="'+nickname+'"></p></h4>' +
                '         <h4>    个性签名：<input class="form-control" style="margin-top: 10px" id="new_sign" value="'+sign+'"></p></h4>' +
                '         <h4>    邮箱：<input class="form-control" style="margin-top: 10px" id="new_email" value="'+email+'"></p></h4>' +
                '         <h4>    地址：<input class="form-control" style="margin-top: 10px" id="new_address" value="'+addres+'"></p></h4>' +
                '         <h4>    头像：<input class="form-control" style="margin-top: 10px" id="new_profile_photo"  onchange="readPhotoFromURL()"  placeholder="请输入图片网址"  value="'+photo+'"></p></h4>' +
                '         <div class="post-bottom overflow">\n' +
                '               <button class="btn btn-link pull-right" onclick="update_cancel(this)" >取消</button>\n' +
                '                <button class="btn btn-link pull-right" onclick="update(this)" >确定</button>\n' +
                '         </div>'
            $(obj).parent().parent().html(newdiv)
        }
        function update_cancel(obj){
            console.log("update_cancel")
            var div = $('#user_info')
            var current_name = $("#user_name").text()
            var newdiv=''
            $.ajax({
                async: false,
                url: "/getUserInfo",
                type: "post",
                //获取某个文本框的值
                //data: "id=" + id + "&name=" + $("#name").val(),
                dataType: "json",
                data: {
                    "current_name": current_name,
                },
                success: function (returnValue) {
                    console.log("success")
                    newdiv='<h2><p class="config"style="margin-bottom: 40px">    用户名：<span id="user_name" th:text="${user_name}">'+current_name+'</span></p></h2>'+
                            ' <PRE><h4><p class="config"><i class="fa fa-user"></i>&#9    昵称：<span id="user_nickname" th:text="${user_nickname}">'+returnValue.nickname+'</span></p></h4></PRE>'+
                            ' <PRE><h4><p class="config"><i class="fa fa-chevron-right"></i>&#9   个性签名：<span id="user_sign" th:text="${user_sign}">'+returnValue.sign+'</span></p></h4></PRE>\n'+
                            ' <PRE><h4><p class="config"><i class="fa fa-envelope-o"></i>&#9   邮箱：<span id="user_email" th:text="${user_email}">'+returnValue.email+'</span></p></h4></PRE>'+
                            ' <PRE><h4><p class="config"><i class="fa fa-map-marker"></i>&#9   地址：<span id="user_address" th:text="${user_address}">'+returnValue.address+'</span></p></h4></PRE>'+
                            '   <div class="post-bottom overflow">\n' +
                            '       <button class="btn btn-link pull-right" onclick="update_div(this)"><i class="fa fa-pencil-square-o"></i>修改</button>\n' +
                            '   </div>'
                    $(obj).parent().parent().html(newdiv)
                },
                error: function (returnValue) {
                    console.log("fail")
                }
            })
        }
        function update(obj){
            console.log("update")
            var div =  $('#user_info');
            var photo_a = $('#user_profile_photo')
            var current_name = $("#user_name").text()
            var new_nickname = $("#new_nickname").val()
            var new_sign = $('#new_sign').val()
            var new_email = $("#new_email").val()
            var new_address = $("#new_address").val()
            var new_profile_photo = $("#new_profile_photo").val()
            var newdiv=''
            $.ajax({
                async: false,
                url: "/setUserInfo",
                type: "post",
                //获取某个文本框的值
                //data: "id=" + id + "&name=" + $("#name").val(),
                dataType: "json",
                data: {
                    "current_name": current_name,
                    "new_nickname":new_nickname,
                    "new_sign":new_sign,
                    "new_email":new_email,
                    "new_address":new_address,
                    "new_profile_photo":new_profile_photo,
                },
                success: function (returnValue) {
                    console.log("success")
                    newdiv='<h2><p class="config"style="margin-bottom: 40px">    用户名：<span id="user_name" th:text="${user_name}">'+current_name+'</span></p></h2>'+
                        ' <PRE><h4><p class="config"><i class="fa fa-user"></i>&#9    昵称：<span id="user_nickname" th:text="${user_nickname}">'+returnValue.nickname+'</span></p></h4></PRE>'+
                        ' <PRE><h4><p class="config"><i class="fa fa-chevron-right"></i>&#9   个性签名：<span id="user_sign" th:text="${user_sign}">'+returnValue.sign+'</span></p></h4></PRE>\n'+
                        ' <PRE><h4><p class="config"><i class="fa fa-envelope-o"></i>&#9   邮箱：<span id="user_email" th:text="${user_email}">'+returnValue.email+'</span></p></h4></PRE>'+
                        ' <PRE><h4><p class="config"><i class="fa fa-map-marker"></i>&#9   地址：<span id="user_address" th:text="${user_address}">'+returnValue.address+'</span></p></h4></PRE>'+
                        '   <div class="post-bottom overflow">\n' +
                        '       <button class="btn btn-link pull-right" onclick="update_div(this)"><i class="fa fa-pencil-square-o"></i>修改</button>\n' +
                        '   </div>'
                    $(obj).parent().parent().html(newdiv)
                    $('#user_profile_photo').attr("src",returnValue.profile_photo)
                },
                error: function (returnValue) {
                    console.log("fail")
                }
            })
        }

    </script>
</head><!--/head-->

<body>
	<header id="header">      
        <div class="container">
            <div class="row">
                <div class="col-sm-12 overflow">
                   <div class="social-icons pull-right">
                        <ul class="nav nav-pills">
                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                            <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div> 
                </div>
             </div>
        </div>
        <div class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="index.html">
                        <h1><img src="images/logo.png" alt="logo"></h1>
                    </a>
                    
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/home">Home</a></li>
                        <li class="dropdown"><a href="#">Pages <i class="fa fa-angle-down"></i></a>
                            <ul role="menu" class="sub-menu">
                                <li><a href="aboutus.html">About</a></li>
                                <li><a href="aboutus2.html">About 2</a></li>
                                <li><a href="service.html">Services</a></li>
                                <li><a href="pricing.html">Pricing</a></li>
                                <li><a href="contact.html">Contact us</a></li>
                                <li><a href="contact2.html">Contact us 2</a></li>
                                <li><a href="404.html">404 error</a></li>
                                <li><a href="coming-soon.html">Coming Soon</a></li>
                            </ul>
                        </li>                    
                        <li class="dropdown"><a href="blog.html">Blog <i class="fa fa-angle-down"></i></a>
                            <ul role="menu" class="sub-menu">
                                <li><a href="blog.html">Blog Default</a></li>
                                <li><a href="blogtwo.html">Timeline Blog</a></li>
                                <li><a href="blogone.html">2 Columns + Right Sidebar</a></li>
                                <li><a href="blogthree.html">1 Column + Left Sidebar</a></li>
                                <li><a href="blogfour.html">Blog Masonary</a></li>
                                <li><a href="blogdetails.html">Blog Details</a></li>
                            </ul>
                        </li>
                        <li class="dropdown active"><a href="portfolio.html">Portfolio <i class="fa fa-angle-down"></i></a>
                            <ul role="menu" class="sub-menu">
                                <li><a href="portfolio.html">Portfolio Default</a></li>
                                <li><a href="portfoliofour.html">Isotope 3 Columns + Right Sidebar</a></li>
                                <li><a href="portfolioone.html">3 Columns + Right Sidebar</a></li>
                                <li><a href="portfoliotwo.html">3 Columns + Left Sidebar</a></li>
                                <li><a href="portfoliothree.html">2 Columns</a></li>
                                <li><a class="active" href="portfolio-details.html">Portfolio Details</a></li>
                            </ul>
                        </li>                         
                        <li><a href="shortcodes.html ">Shortcodes</a></li>                    
                    </ul>
                </div>
                <div class="search">
                    <form role="form">
                        <i class="fa fa-search"></i>
                        <div class="field-toggle">
                            <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <!--/#header-->

    <section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title" >个人信息</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#action-->

    <section id="portfolio-information" class="padding-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-6" >
                    <div class="padding-bottom arrow-left wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="single-blog timeline" >
                            <div class="post-content overflow" id="result" style="height: 500px;width: 500px" height="500" width="500">
                                <img id="user_profile_photo" th:src="${user_profile_photo}" class="img-responsive" alt="头像" height="500" width="500">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="padding-bottom arrow-left wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="single-blog timeline" id="user_info">
                            <div class="post-content overflow">
                                <h2><p class="config"style="margin-bottom: 40px">    用户名：<span id="user_name" th:text="${user_name}"></span></p></h2>
                                <PRE><h4><p class="config"><i class="fa fa-user"></i>&#9    昵称：<span id="user_nickname" th:text="${user_nickname}"></span></p></h4></PRE>
                                <PRE><h4><p class="config"><i class="fa fa-chevron-right"></i>&#9   个性签名：<span id="user_sign" th:text="${user_sign}"></span></p></h4></PRE>
                                <PRE><h4><p class="config"><i class="fa fa-envelope-o"></i>&#9   邮箱：<span id="user_email" th:text="${user_email}"></span></p></h4></PRE>
                                <PRE><h4><p class="config"><i class="fa fa-map-marker"></i>&#9   地址：<span id="user_address" th:text="${user_address}"></span></p></h4></PRE>

                                <div class="post-bottom overflow">
                                    <button class="btn btn-link pull-right" onclick="update_div(this)"><i class="fa fa-pencil-square-o"></i>修改</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center bottom-separator">
                    <img src="/images/home/under.png" class="img-responsive inline" alt="">
                </div>
                <div class="col-md-4 col-sm-6">
                    <!--                <div class="testimonial bottom">-->
                    <!--                    <h2>Testimonial</h2>-->
                    <!--                    <div class="media">-->
                    <!--                        <div class="pull-left">-->
                    <!--                            <a href="#"><img src="/images/home/profile1.png" alt=""></a>-->
                    <!--                        </div>-->
                    <!--                        <div class="media-body">-->
                    <!--                            <blockquote>Nisi commodo bresaola, leberkas venison eiusmod bacon occaecat labore tail.-->
                    <!--                            </blockquote>-->
                    <!--                            <h3><a href="#">- Jhon Kalis</a></h3>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                    <div class="media">-->
                    <!--                        <div class="pull-left">-->
                    <!--                            <a href="#"><img src="/images/home/profile2.png" alt=""></a>-->
                    <!--                        </div>-->
                    <!--                        <div class="media-body">-->
                    <!--                            <blockquote>Capicola nisi flank sed minim sunt aliqua rump pancetta leberkas venison-->
                    <!--                                eiusmod.-->
                    <!--                            </blockquote>-->
                    <!--                            <h3><a href="">- Abraham Josef</a></h3>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                </div>-->
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="contact-info bottom">
                        <h2>联系方式</h2>
                        <address>
                            E-mail: <a href="mailto:someone@example.com">email@bit.edu.cn</a> <br>
                            Phone: + (086) 1388 456 7890 <br>
                            <!--                        Fax: +1 (123) 456 7891 <br>-->
                        </address>

                        <h2>地址</h2>
                        <address>
                            北京市海淀区 <br>
                            中关村
                            南大街5号
                            北京理工大学<br>
                        </address>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="contact-form bottom">
                        <h2>Send a message</h2>
                        <form id="main-contact-form" name="contact-form" method="post" action="sendemail.php">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" required="required" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" class="form-control" required="required"
                                       placeholder="Email Id">
                            </div>
                            <div class="form-group">
                            <textarea name="message" id="message" required="required" class="form-control" rows="8"
                                      placeholder="Your text here"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-submit" value="Submit">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="copyright-text text-center">
                        <p>&copy; B I T 2020. All Rights Reserved.</p>
                        <p>Designed by <a target="_blank" href="http://www.themeum.com">Themeum</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/#footer-->


    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/lightbox.min.js"></script>
    <script type="text/javascript" src="js/wow.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>


    </body>

</html>
